/*! Avalanche | MIT License | @colourgarden */
.grid {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  font-size: 0rem;
}

.grid__cell {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  vertical-align: top;
  font-size: 1rem;
}

.grid--center {
  text-align: center;
}

.grid--center > .grid__cell {
  text-align: left;
}

.grid__cell--center {
  display: block;
  margin: 0 auto;
}

.grid--right {
  text-align: right;
}

.grid--right > .grid__cell {
  text-align: left;
}

.grid--middle > .grid__cell {
  vertical-align: middle;
}

.grid--bottom > .grid__cell {
  vertical-align: bottom;
}

.grid--flush {
  margin-left: 0;
}

.grid--flush > .grid__cell {
  padding-left: 0;
}

.grid--tiny {
  margin-left: -5px;
}

.grid--tiny > .grid__cell {
  padding-left: 5px;
}

.grid--small {
  margin-left: -10px;
}

.grid--small > .grid__cell {
  padding-left: 10px;
}

.grid--large {
  margin-left: -40px;
}

.grid--large > .grid__cell {
  padding-left: 40px;
}

.grid--huge {
  margin-left: -80px;
}

.grid--huge > .grid__cell {
  padding-left: 80px;
}

.grid--auto > .grid__cell {
  width: auto;
}

.grid--rev {
  direction: rtl;
}

.grid--rev > .grid__cell {
  direction: ltr;
}

.\31\/2, .\32\/4 {
  width: 50%;
}

.\31\/3 {
  width: 33.33333%;
}

.\32\/3 {
  width: 66.66667%;
}

.\31\/4 {
  width: 25%;
}

.\33\/4 {
  width: 75%;
}

@media screen and (max-width: 499px) {
  .\31\/2--thumb, .\32\/4--thumb {
    width: 50%;
  }
  .\31\/3--thumb {
    width: 33.33333%;
  }
  .\32\/3--thumb {
    width: 66.66667%;
  }
  .\31\/4--thumb {
    width: 25%;
  }
  .\33\/4--thumb {
    width: 75%;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .\31\/2--handheld, .\32\/4--handheld {
    width: 50%;
  }
  .\31\/3--handheld {
    width: 33.33333%;
  }
  .\32\/3--handheld {
    width: 66.66667%;
  }
  .\31\/4--handheld {
    width: 25%;
  }
  .\33\/4--handheld {
    width: 75%;
  }
}

@media screen and (min-width: 500px) {
  .\31\/2--handheld-and-up, .\32\/4--handheld-and-up {
    width: 50%;
  }
  .\31\/3--handheld-and-up {
    width: 33.33333%;
  }
  .\32\/3--handheld-and-up {
    width: 66.66667%;
  }
  .\31\/4--handheld-and-up {
    width: 25%;
  }
  .\33\/4--handheld-and-up {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  .\31\/2--pocket, .\32\/4--pocket {
    width: 50%;
  }
  .\31\/3--pocket {
    width: 33.33333%;
  }
  .\32\/3--pocket {
    width: 66.66667%;
  }
  .\31\/4--pocket {
    width: 25%;
  }
  .\33\/4--pocket {
    width: 75%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
  .\31\/2--lap, .\32\/4--lap {
    width: 50%;
  }
  .\31\/3--lap {
    width: 33.33333%;
  }
  .\32\/3--lap {
    width: 66.66667%;
  }
  .\31\/4--lap {
    width: 25%;
  }
  .\33\/4--lap {
    width: 75%;
  }
}

@media screen and (min-width: 801px) {
  .\31\/2--lap-and-up, .\32\/4--lap-and-up {
    width: 50%;
  }
  .\31\/3--lap-and-up {
    width: 33.33333%;
  }
  .\32\/3--lap-and-up {
    width: 66.66667%;
  }
  .\31\/4--lap-and-up {
    width: 25%;
  }
  .\33\/4--lap-and-up {
    width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .\31\/2--portable, .\32\/4--portable {
    width: 50%;
  }
  .\31\/3--portable {
    width: 33.33333%;
  }
  .\32\/3--portable {
    width: 66.66667%;
  }
  .\31\/4--portable {
    width: 25%;
  }
  .\33\/4--portable {
    width: 75%;
  }
}

@media screen and (min-width: 1025px) {
  .\31\/2--desk, .\32\/4--desk {
    width: 50%;
  }
  .\31\/3--desk {
    width: 33.33333%;
  }
  .\32\/3--desk {
    width: 66.66667%;
  }
  .\31\/4--desk {
    width: 25%;
  }
  .\33\/4--desk {
    width: 75%;
  }
}

@media screen and (min-width: 1160px) {
  .\31\/2--widescreen, .\32\/4--widescreen {
    width: 50%;
  }
  .\31\/3--widescreen {
    width: 33.33333%;
  }
  .\32\/3--widescreen {
    width: 66.66667%;
  }
  .\31\/4--widescreen {
    width: 25%;
  }
  .\33\/4--widescreen {
    width: 75%;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .\31\/2--retina, .\32\/4--retina {
    width: 50%;
  }
  .\31\/3--retina {
    width: 33.33333%;
  }
  .\32\/3--retina {
    width: 66.66667%;
  }
  .\31\/4--retina {
    width: 25%;
  }
  .\33\/4--retina {
    width: 75%;
  }
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.wrapper {
  margin-top: 27px;
}

.main-content {
  background-color: #efefef;
}

.header-section {
  background-color: #fff;
  padding-bottom: 23px;
}

.header-content {
  display: flex;
  border-bottom: 1px solid #efefef;
  padding-bottom: 19px;
}

.header-content__weather-and-location {
  display: flex;
  padding-left: 185px;
}

.header-content__logo {
  text-align: center;
  margin-left: -6px;
}

.header-content__location {
  margin-top: -12px;
  padding-left: 12px;
}

.header-content__location__city {
  margin-top: 19px;
  font-size: 13px;
  text-transform: uppercase;
}

.header-content__location__date {
  font-size: small;
  margin-top: -10px;
}

.header-content__weather {
  padding-top: 10px;
  margin-left: -15px;
}

.header-content__login {
  padding-left: 136px;
}

.header-content__login__btn-login {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 30px;
  padding: 10px;
  width: 115px;
  height: 41px;
  font-size: 14px;
  color: #a3a3a4;
  text-transform: uppercase;
}

.header-content__login__btn-login__user-icon {
  float: left;
  padding-top: 4px;
  padding-left: 12px;
}

.header-content-navbar {
  padding-top: 20px;
  padding-left: 170px;
  text-transform: uppercase;
}

.header-content-navbar-items {
  font-size: smaller;
}

.header-content-navbar-items__btn-search {
  border: none;
  background-color: #fff;
}

.header-content-navbar--link {
  padding-right: 45px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.slider {
  padding: 18px;
}

.slider-image--img {
  position: relative;
  margin-left: 10px;
}

.slider-caption__p {
  position: absolute;
  bottom: 424px;
  left: 633px;
  text-transform: uppercase;
  font-size: x-small;
  color: #fff;
  border: 1px solid #fff;
  width: 92px;
  border-radius: 15px;
  padding: 2px;
}

.slider-caption__headings--h1 {
  position: absolute;
  top: 310px;
  left: 386px;
  font-size: 51px;
  font-family: serif;
  color: #fff;
}

.slider-caption__description__p {
  position: absolute;
  top: 398px;
  left: 465px;
  text-align: center;
  width: 418px;
  line-height: 23px;
  color: #fff;
}

.slider-caption__read-more--link {
  position: absolute;
  bottom: 142px;
  left: 612px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  width: 115px;
  padding: 11px;
  font-size: 12px;
  text-transform: uppercase;
}

.slider-navigation {
  display: flex;
  position: absolute;
  top: 636px;
  left: 657px;
}

.slider-navigation-one--img {
  padding-right: 15px;
}

.slider-navigation-two--img {
  padding-right: 15px;
}

.article-box {
  margin: 0px 124px 0px 212px;
}

.article-box--big {
  display: flex;
  margin-right: 83px;
  background-color: #fff;
}

.article-box--big__text {
  text-decoration: none;
  color: #333;
}

.article-box--big__text-section {
  padding-top: 60px;
}

.article-box--big__text__category__p {
  font-size: 10px;
}

.article-box--big__text__h1 {
  font-size: 28px;
  margin-top: -4px;
  font-family: serif;
}

.article-box--big__text__p {
  font-size: small;
  padding-bottom: 116px;
}

.article-box--big__chair-text {
  padding: 56px 0 0 28px;
}

.article-box--big__chair__category {
  text-decoration: none;
}

.article-box--big__chair__category__p {
  color: #3078c0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.article-box--big__chair--photo {
  padding-left: 17px;
}

.article-box--big__chair--h1 {
  font-size: 22px;
}

.article-box--big__chair__summary__p {
  color: #b9b9ba;
}

.article-box--big__chair__btn-function {
  display: flex;
}

.article-box--big__chair__btn-function__btn-readmore__p {
  background-color: #fff;
  border: 1px solid #a3a3a4;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  width: 120px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

.article-box--big__chair__btn-function__btn-slideshow__p {
  background-color: #fff;
  border: 1px solid #a3a3a4;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  width: 120px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

.article-box__three-section {
  margin-left: -22px;
}

.article-box--small {
  display: flex;
}

.article-box--small__gloves {
  height: 335px;
  width: 230px;
  background-color: #3078c0;
  padding-bottom: 6px;
}

.article-box--small__gloves--img {
  padding: 10px 0 0 48px;
}

.article-box--small__gloves-readmore {
  padding: 50px 0 0 53px;
}

.article-box--small__gloves-readmore__btnreadmore {
  background-color: #4c8ac7;
  border-radius: 25px;
  color: #fff;
  width: 120px;
  height: 35px;
}

.article-box--small__gloves-text__p {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: smaller;
  padding-top: 10px;
}

.article-box--small__gloves-text--h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: larger;
  padding-top: 15px;
}

.article-box--small__travel {
  background-color: #fff;
  margin: 0px 27px 0px -13px;
}

.article-box--small__travel-lake {
  background-image: url("../../images/article/article-lake.png");
  height: 185px;
  margin-top: 12px;
}

.article-box--small__travel-house {
  background-image: url("../../images/article/article-house.png");
  height: 185px;
}

.article-box--small__travel-alley {
  background-image: url("../../images/article/article-alley.jpg");
  height: 185px;
}

.article-box--small__travel__text {
  padding: 4px 0px 0px 12px;
}

.article-box--small__travel__article {
  text-decoration: none;
}

.article-box--small__travel__article-title--h1 {
  font-size: 16px;
  color: #333;
}

.article-box--small__travel__article-summary__p {
  color: #b9b9ba;
}

.article-box--small__culture {
  background-color: #fff;
  font-size: 11px;
  margin: 13px 40px 0px -28px;
}

.article-box--small__culture__category__p {
  position: absolute;
  top: 0px;
  left: 12px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  width: 70px;
  text-align: center;
}

.article-box--small__culture__title__p {
  position: absolute;
  top: 160px;
  left: 12px;
  color: #fff;
  font-weight: bold;
}

.article-box--small__culture__summary__p {
  position: absolute;
  top: 205px;
  left: 12px;
  color: #fff;
}

.article-box--small__culture__profile {
  display: flex;
  padding-top: 18px;
}

.article-box--small__culture__profile--img {
  width: 33px;
  height: 33px;
  padding: 0px 0 0 17px;
  margin-top: -11px;
}

.article-box--small__culture__profile__name__p {
  color: #333;
  font-weight: bold;
}

.article-box--small__culture__profile__posted {
  color: #a3a3a4;
  margin-top: -20px;
  line-height: 8px;
  padding-left: 4px;
  font-size: 11px;
}

.article-box__news {
  background-color: #fff;
  padding-left: 20px;
  margin: 0px 53px 0px -21px;
}

.article-box__news-section {
  background-color: #fff;
}

.article-box__news--h1 {
  margin-left: -22px;
  padding-top: 8px;
}

.article-box__news-headlines {
  padding-bottom: 42px;
}

.article-box__news-headlines--small__h1 {
  font-size: 9px;
  color: #a3a3a4;
  padding-top: 2px;
}

.article-box__news-headlines--big {
  text-decoration: none;
  color: #333;
}

.article-box__news-headlines--big__h1 {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  margin: 3px 57px 0px 0px;
  line-height: 17px;
  font-family: sans-serif;
}

.article-box__news-headlines__footer {
  background-color: #333;
}

.article-box__news-headlines__footer-btn-news__btnviewall {
  background-color: #333;
  border: none;
  display: block;
  color: #fff;
  height: 34px;
  margin: 0px 60px 0 47px;
  font-size: 11px;
  text-transform: uppercase;
}

.article-box__news-highlight-image--img {
  padding-top: 31px;
}

.article-box-bottom {
  padding-top: 19px;
  margin-right: 27px;
  padding-bottom: 25px;
}

.article-box__social {
  display: flex;
  border-top: 1px solid #a3a3a4;
  background-color: #fff;
}

.article-box__social__button-like {
  border: none;
  background-color: #fff;
  padding-top: 4px;
}

.article-box__social__button-comment {
  border: none;
  background-color: #fff;
  padding-top: 4px;
}

.article-box__social__num-like {
  padding-right: 10px;
}

.article-box__social__num-like__p {
  font-size: x-small;
  color: #b9b9ba;
}

.article-box__social__num-comment {
  padding-right: 10px;
}

.article-box__social__num-comment__p {
  font-size: x-small;
  color: #b9b9ba;
}

.article-box__social__icon-time {
  padding-left: 5px;
}

.article-box__social__icon-time--img {
  padding-top: 9px;
}

.article-box__social__icon-time__p {
  font-size: x-small;
  color: #b9b9ba;
}

.article-box__video {
  background-color: #333;
  margin-bottom: 25px;
  padding: 0 186px 0 186px;
}

.article-box__video__p {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.article-box__video-and-play__section {
  position: relative;
}

.article-box__video-and-play__section__play-icon--img {
  position: absolute;
  top: 50px;
  left: 85px;
}

.article-box__video-and-play__text {
  color: #fff;
}

.article-box__video-and-play__text__title__p {
  float: left;
  font-weight: bolder;
  font-size: 13px;
}

.article-box__video-and-play__text__time__p {
  float: right;
  font-size: 13px;
  padding-left: 25px;
  color: #a3a3a4;
  font-weight: bolder;
}

footer {
  background-color: #fff;
}

.bottom-content {
  padding: 4% 5% 4% 5%;
}

.bottom-content-text {
  padding-top: 15%;
}

.bottom-content-text__p {
  color: #b9b9ba;
  font-size: 12px;
  padding-top: 7%;
}

.bottom-content__list {
  list-style-type: none;
  font-size: 15px;
  line-height: 30px;
}

.bottom-content__list__item {
  font-size: small;
}

.bottom-content__list__item-text__h1 {
  font-weight: bold;
  font-size: 17px;
}

.bottom-content__list__item--link {
  color: #a3a3a4;
  text-decoration: none;
}

.bottom-content__list__item--span {
  color: #4c8ac7;
}
