<!DOCTYPE html>
<html>
  <head>
    <title>Silk</title>
    <link rel="stylesheet" href="../../styles/base/silk.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="grid">
        <header>
          <div class="magazine-header">
            <div class="magazine-header-content">
              <div class="1/3 grid__cell">
                <div class="magazine-header-content__weather"><img src="../../images/header/weather.png" alt="" class="magazine-header-content__weather--photo"></div>
                <div class="magazine-header-content__location">
                  <p class="magazine-header-content__location--city">New York, NY 74°F</p>
                  <p class="magazine-header-content__location--date">Sunday, September 3, 2015</p>
                </div>
              </div>
              <div class="1/3 grid__cell">
                <div class="magazine-header-content__logo"><a href="#" class="magazine-header-content__logo--link"><img src="../../images/header/logo.png" alt="Silk" class="magazine-header-content__logo--img"></a></div>
              </div>
              <div class="1/3 grid__cell">
                <div class="magazine-header-content__login">
                  <button class="magazine-header-content__login--btnlogin">Log In<img src="../../images/header/user-symbol.png" alt="user icon" class="magazine-header-content__login--btnlogin__usericon"></button>
                </div>
              </div>
            </div>
            <div class="magazine-header-content-navbar">
              <div class="4/4 grid__cell">
                <nav class="magazine-header-content-navbar-items">
                  <ul class="magazine-header-content-navbar__menu">
                    <li class="magazine-header-content-navbar__item"><a href="#" class="magazine-header-content-navbar--link">News</a></li>
                    <li class="magazine-header-content-navbar__item"><a href="#" class="magazine-header-content-navbar--link">Style</a></li>
                    <li class="magazine-header-content-navbar__item"><a href="#" class="magazine-header-content-navbar--link">Food & Drink</a></li>
                    <li class="magazine-header-content-navbar__item"><a href="#" class="magazine-header-content-navbar--link">Travel</a></li>
                    <li class="magazine-header-content-navbar__item"><a href="#" class="magazine-header-content-navbar--link">Sport</a></li>
                    <li class="magazine-header-content-navbar__item"><a href="#" class="magazine-header-content-navbar--link">Cars & Moto</a></li>
                    <li class="magazine-header-content-navbar__item"><a href="#" class="magazine-header-content-navbar--link">Culture</a></li>
                    <li class="magazine-header-content-navbar__item"><a href="#" class="magazine-header-content-navbar--link">Video</a></li>
                    <li class="magazine-header-content-navbar__item"><a href="#" class="magazine-header-content-navbar--link">Archive</a></li>
                    <li class="magazine-header-content-navbar__item">
                      <button class="magazine-header-navbar__item--btnsearch"><img src="../../images/header/magnifying-glass.png" alt="Search" width="50%" class="magazine-header-navbar__item--btnsearch__img"></button>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </header>
      </div>
      <div class="magazine-main-content">
        <div class="grid">
          <div class="grid--center">
            <div class="magazine-main-content__slider">
              <div class="4/4 grid__cell">
                <div class="magazine-main-content__slider-image"><img src="../../images/main/slider.jpg" class="magazine-main-content__slider-image--img"></div>
                <div class="magazine-main-content__slider-caption">
                  <div class="magazine-main-content__slider-caption__category"> 
                    <p class="magazine-main-content__slider-caption__category--p">Food &amp; Drink</p>
                  </div>
                  <div class="magazine-main-content__slider-caption-details">
                    <div class="magazine-main-content__slider-caption-details__headings">
                      <h1 class="magazine-main-content__slider-caption-details--h1">Hella narwhal Cosby swea.</h1>
                    </div>
                    <div class="magazine-main-content__slider-caption-details__description">
                      <p class="magazine-main-content__slider-caption-details__description--p">A few years ago, the Roots were musing over how to make their music-industry career pay.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="magazine-main-content__article-box">
            <div class="3/4 grid__cell">
              <div class="grid">
                <div class="magazine-main-content__article-box__details">
                  <div class="magazine-main-content__article-box__details__carbox">
                    <div class="1/2 grid__cell">
                      <div class="magazine-main-content__article-box__details__carbox-text-car">
                        <p class="magazine-main-content__article-box__details__carbox-text-car--p">Cars & Moto</p>
                        <h1 class="magazine-main-content__article-box__details__carbox-text-car--h1">The 2015 Best-Dressed List: How Kate Middleton</h1>
                        <p class="magazine-main-content__article-box__details__carbox-text-car__paragraph--p">Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                      </div>
                    </div>
                    <div class="1/2 grid__cell">
                      <div class="magazine-main-content__article-box__details__carbox-image-car"><img src="../../images/article/articlecar.jpg" class="magazine-main-content__article-box__details__carbox-image-car--img"></div>
                    </div>
                  </div>
                  <div class="1/3 grid__cell"> 
                    <div class="magazine-main-content__article-box__details-gloves">
                      <p class="magazine-main-content__article-box__details-gloves-text--p">style</p>
                      <h1 class="magazine-main-content__article-box__details-gloves-text--h1">Offbeat Portraits Give Stars</h1><img src="../../images/article/gloves.png" class="magazine-main-content__article-box__details-gloves--img">
                      <div class="magazine-main-content__article-box__details-gloves-readmore">
                        <button class="magazine-main-content__article-box__details-gloves-readmore--btnreadmore">Read More</button>
                      </div>
                    </div>
                  </div>
                  <div class="1/3 grid__cell">
                    <div class="magazine-main-content__article-box__details-travel">
                      <div class="magazine-main-content__article-box__details-travel--text">
                        <div class="magazine-main-content__article-box__details-travel__category">
                          <p class="magazine-main-content__article-box__details-travel__category--p">Travel     </p>
                        </div>
                      </div>
                    </div>
                    <div class="magazine-main-content__article-box__details-travel__article">
                      <h1 class="magazine-main-content__article-box__details-travel__article-title--h1">Best of Minnesota 2015: Revealing what rocks</h1>
                      <p class="magazine-main-content__article-box__details-travel__article-summary--p">I whipped the Scotch tape from my pocket and said</p>
                    </div>
                    <hr>
                    <div class="magazine-main-content__article-box__details-travel__social">
                      <button class="magazine-main-content__article-box__details-travel__social--buttonlike"><img src="../../images/article/btnlike.png" class="magazine-main-content__article-box__details-travel__social--buttonlike--img">
                        <p class="magazine-main-content__article-box__details-travel__social--numlike--p">298</p>
                      </button>
                      <button class="magazine-main-content__article-box__details-travel__social--buttoncomment"><img src="../../images/article/btncomment.png" class="magazine-main-content__article-box__details-travel__social--buttoncomment--img"></button>
                    </div>
                  </div>
                  <div class="1/3 grid__cell">
                    <div class="magazine-main-content__article-box__details-culture"><img src="../../images/article/lantern.jpg" class="magazine-main-content__article-box__details-culture--img"></div>
                    <div class="magazine-main-content__article-box__details-culture__profile"><img src="../../images/article/profilepic.png" class="magazine-main-content__article-box__details-culture__profile--img"></div>
                    <div class="magazine-main-content__article-box__details-culture__profile--posted">
                      <p class="magazine-header-content__article-box__details-culture__profile--name--p">Jason George</p>
                      <p class="magazine-header-content__article-box__details-culture__profile--posted--hour">7 hours ago</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="1/4 grid__cell">
              <div class="magazine-main-content__article-box__news">
                <div class="magazine-main-content__article-box__news-section">
                  <div class="grid">
                    <div class="4/4 grid__cell">
                      <div class="magazine-main-content__article-box__news--h1">News</div>
                    </div>
                    <div class="grid">
                      <div class="magazine-main-content__article-box__news-highlight-image">
                        <div class="4/4 grid__cell"><img src="../../images/article/news.png" class="magazine-main-content__article-box__news-highlight-image--img"></div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="magazine-main-content__article-box__news-headlines">
                        <div class="4/4 grid__cell">
                          <div class="magazine-main-content__article-box__news-headlines--small">
                            <h1 class="magazine-main-content__article-box__news-headlines--small--h1">2 hours ago</h1>
                          </div>
                        </div>
                        <div class="4/4 grid__cell">
                          <div class="magazine-main-content__article-box__news-headlines--big">
                            <h1 class="magazine-main-content__article-box__news-headlines--big--h1">Exclusive Hell on Wheels Season 5 Episode 5 Preview Scene</h1>
                            <hr>
                          </div>
                          <div class="4/4 grid__cell"></div>
                          <div class="magazine-main-content__article-box__news-headlines--small">
                            <h1 class="magazine-main-content__article-box__news-headlines--small--h1">7 hours ago</h1>
                          </div>
                        </div>
                        <div class="4/4 grid__cell">
                          <div class="magazine-main-content__article-box__news-headlines--big">
                            <h1 class="magazine-main-content__article-box__news-headlines--big--h1">The 2015 Post-San Diego Comic Con Guide</h1>
                            <hr>
                          </div>
                          <div class="4/4 grid__cell"></div>
                          <div class="magazine-main-content__article-box__news-headlines--small">
                            <h1 class="magazine-main-content__article-box__news-headlines--small--h1">9 hours ago</h1>
                          </div>
                        </div>
                        <div class="4/4 grid__cell">
                          <div class="magazine-main-content__article-box__news-headlines--big">
                            <h1 class="magazine-main-content__article-box__news-headlines--big--h1">Dear Apple, We Need To Talk About Your Ridiculous iPhone Charge</h1>
                            <hr>
                          </div>
                          <div class="4/4 grid__cell"></div>
                          <div class="magazine-main-content__article-box__news-headlines--small">
                            <h1 class="magazine-main-content__article-box__news-headlines--small--h1">1 day ago</h1>
                          </div>
                        </div>
                        <div class="4/4 grid__cell">
                          <div class="magazine-main-content__article-box__news-headlines--big">
                            <h1 class="magazine-main-content__article-box__news-headlines--big--h1">If You Ask Siri What 0 Divided By 0 Is It Gets Brutal</h1>
                            <hr>
                          </div>
                          <div class="4/4 grid__cell"></div>
                          <div class="magazine-main-content__article-box__news-headlines--small">
                            <h1 class="magazine-main-content__article-box__news-headlines--small--h1">1 day ago</h1>
                          </div>
                        </div>
                        <div class="4/4 grid__cell">
                          <div class="magazine-main-content__article-box__news-headlines--big">
                            <h1 class="magazine-main-content__article-box__news-headlines--big--h1">Dr. Dre Compton Review: A Grand Finale Game Changer</h1>
                          </div>
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="magazine-main-content__article-box__news-headlines__footer">
                  <div class="4/4 grid__cell">
                    <div class="magazine-main-content__article-box__news-headlines__footer-btn-news">
                      <button class="magazine-main-content__article-box__news-headlines__footer-btn-news--btnviewall"> 
                        <p class="magazine-main-content__article-box__news-headlines__footer-btn-news--p">All News</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="magazine-main-content__article-box--small">
            <div class="1/3 grid__cell">
              <div class="grid">
                <div class="1/2 grid__cell">
                  <div class="magazine-main-content__article-box--small__chair-text">
                    <h1 class="magazine-main-content__article-box--small__chair-text--h1">Eames Molded Fiberglass Side Chair</h1>
                  </div>
                </div>
                <div class="1/2 grid__cell">
                  <div class="magazine-main-content__article-box--small__chair-text"><img src="../../images/article/chair.jpg" class="magazine-main-content__article-box__details-culture__profile--img"></div>
                </div>
              </div>
            </div>
            <div class="1/3 grid__cell"></div>
            <div class="1/3 grid__cell"></div>
          </div>
          <div class="grid-article-box__video">
            <div class="1/4 grid__cell">
              <p>col 1/4</p>
            </div>
            <div class="1/4 grid__cell">
              <p>col 1/4</p>
            </div>
            <div class="1/4 grid__cell">
              <p>col 1/4</p>
            </div>
            <div class="1/4 grid__cell">
              <p>col 1/4</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="grid">
        <footer>
          <div class="grid-footer">
            <div class="1/4 grid__cell">
              <p>col 1/4</p>
            </div>
            <div class="1/4 grid__cell">
              <p>col 1/4</p>
            </div>
            <div class="1/4 grid__cell">
              <p>col 1/4</p>
            </div>
            <div class="1/4 grid__cell">
              <p>col 1/4</p>
            </div>
          </div>
        </footer>
      </div>
    </footer>
  </body>
</html>