.grid
    footer
      .bottom
        .grid-footer
          .bottom-content
            div(class="1/4 grid__cell")
              .bottom-content-text
                img.bottom-content-text__logo--img(src="./app/images/footer/grey-logo.png", alt="Silk")
                p.bottom-content-text__p Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
            div(class="1/4 grid__cell")
              ul.bottom-content__list
                li.bottom-content__list__item-text 
                  h1.bottom-content__list__item-text__h1 Information
                li.bottom-content__list__item 
                  a.bottom-content__list__item--link(href="#") FAQs
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Size Guide
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Delivery Info
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Return Info
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Discout
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Our Stores
            div(class="1/4 grid__cell")
              ul.bottom-content__list
                li.bottom-content__list__item-text
                  h1.bottom-content__list__item-text__h1 Account
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Login
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Register
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") My Cart
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Orders
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Wishlist
            div(class="1/4 grid__cell")
              ul.bottom-content__list
                li.bottom-content__list__item-text
                  h1.bottom-content__list__item-text__h1 Contact Us
                li.bottom-content__list__item 
                  a.bottom-content__list__item--link(href="#") 48 Park Avenue,
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Aast 21st Street, Apt.304
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") San Francisco
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Email: 
                   span.bottom-content__list__item--span support@diiim.com
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Phone: 415-515-6171
                li.bottom-content__list__item
                  a.bottom-content__list__item--link(href="#") Fax: 415-515-6171
