.grid
    footer
      .bottom
        .grid-footer
          .bottom-content
            div(class="1/4 grid__cell")
              img.bottom-content__logo--img(src="./app/images/footer/grey-logo.png", alt="Silk")
              p.bottom-content__p Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
            div(class="1/4 grid__cell")
              p.bottom-content__info__p Information
              ul
                li 
                  a faqs
                li
                  a size guide
                li
                  a delivery info
                li
                  a return info
                li
                  a discout
                li
                  a our stores
            div(class="1/4 grid__cell")
              p.bottom-content__account__p Accounts
              ul
                li 
                  a login
                li
                  a register
                li
                  a my cart
                li
                  a orders
                li
                  a wishlist
            div(class="1/4 grid__cell")
              p.bottom-content__contact__p Contact Us
              ul
                li 
                    a 48 park avenue,
                  li
                    a east 21st street, apt.304
                  li
                    a san francisco
                  li
                    a email: support@diiim.com
                  li
                    a phone:415-515-6171
                  li
                    a fax:415-515-6171
