.grid
    footer
      .grid-footer
        div(class="1/4 grid__cell")
          p col 1/4
        div(class="1/4 grid__cell")
          p col 1/4
        div(class="1/4 grid__cell")
          p col 1/4
        div(class="1/4 grid__cell")
          p col 1/4
