.grid
  .header
    .header-content
      div(class="1/3 grid__cell")
        .header-content__weather
          img.header-content__weather__photo(src="./app/images/header/icon-weather.png", alt="")
        .header-content__location
          p.header-content__location__city New York, NY 74°F
          p.header-content__location__date Sunday, September 3, 2015
      div(class="1/3 grid__cell")
        .header-content__logo
          a.header-content__logo--link(href="#")
            img.header-content__logo--img(src="./app/images/header/logo.png", alt="Silk")
      div(class="1/3 grid__cell")
        .header-content__login
          button.header-content__login__btnlogin Log In
            img.header-content__login__btnlogin--user-icon(src="./app/images/header/icon-user.png", alt="user icon")
            
    .header-content-navbar
      div(class="4/4 grid__cell")
        nav.header-content-navbar-items
          ul.header-content-navbar__menu
            li.header-content-navbar__item
              a.header-content-navbar--link(href="#") News
            li.header-content-navbar__item
              a.header-content-navbar--link(href="#") Style
            li.header-content-navbar__item
              a.header-content-navbar--link(href="#") Food &amp; Drink
            li.header-content-navbar__item
              a.header-content-navbar--link(href="#") Travel
            li.header-content-navbar__item
              a.header-content-navbar--link(href="#") Sport
            li.header-content-navbar__item
              a.header-content-navbar--link(href="#") Cars &amp; Moto
            li.header-content-navbar__item
              a.header-content-navbar--link(href="#") Culture
            li.header-content-navbar__item
              a.header-content-navbar--link(href="#") Video
            li.header-content-navbar__item
              a.header-content-navbar--link(href="#") Archive
            li.header-content-navbar__item
              button.header-navbar__item__btn-search
                img.header-navbar__item__btn-search--img(src="./app/images/header/icon-magnifying-glass.png", alt="Search" width="50%")