
include ../../_mixins/news-content.jade
include ../../_mixins/video-content.jade
include ../../_mixins/social-reaction.jade

doctype html
html
  head
    include head.jade
  body
    .wrapper
      include header.jade
      block main

    footer
      include footer.jade