
include ../../_mixins/news-content.jade
include ../../_mixins/video-content.jade
include ../../_mixins/social-reaction.jade
include ../../_mixins/article-content.jade

doctype html
html(lang="en")
  head
    include head.jade
  body
    .wrapper
      include header.jade
      block main

    footer
      include footer.jade