<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Silk</title>
    <link rel="stylesheet" href="./app/styles/base/silk.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="grid">
        <div class="header">
          <div class="header-content">
            <div class="1/3 grid__cell">
              <div class="header-content__weather"><img src="./app/images/header/icon-weather.png" alt="" class="header-content__weather__photo"></div>
              <div class="header-content__location">
                <p class="header-content__location__city">New York, NY 74°F</p>
                <p class="header-content__location__date">Sunday, September 3, 2015</p>
              </div>
            </div>
            <div class="1/3 grid__cell">
              <div class="header-content__logo"><a href="#" class="header-content__logo--link"><img src="./app/images/header/logo.png" alt="Silk" class="header-content__logo--img"></a></div>
            </div>
            <div class="1/3 grid__cell">
              <div class="header-content__login">
                <button class="header-content__login__btnlogin">Log In<img src="./app/images/header/icon-user.png" alt="user icon" class="header-content__login__btnlogin--user-icon"></button>
              </div>
            </div>
          </div>
          <div class="header-content-navbar">
            <div class="4/4 grid__cell">
              <nav class="header-content-navbar-items">
                <ul class="header-content-navbar__menu">
                  <li class="header-content-navbar__item"><a href="#" class="header-content-navbar--link">News</a></li>
                  <li class="header-content-navbar__item"><a href="#" class="header-content-navbar--link">Style</a></li>
                  <li class="header-content-navbar__item"><a href="#" class="header-content-navbar--link">Food &amp; Drink</a></li>
                  <li class="header-content-navbar__item"><a href="#" class="header-content-navbar--link">Travel</a></li>
                  <li class="header-content-navbar__item"><a href="#" class="header-content-navbar--link">Sport</a></li>
                  <li class="header-content-navbar__item"><a href="#" class="header-content-navbar--link">Cars &amp; Moto</a></li>
                  <li class="header-content-navbar__item"><a href="#" class="header-content-navbar--link">Culture</a></li>
                  <li class="header-content-navbar__item"><a href="#" class="header-content-navbar--link">Video</a></li>
                  <li class="header-content-navbar__item"><a href="#" class="header-content-navbar--link">Archive</a></li>
                  <li class="header-content-navbar__item">
                    <button class="header-navbar__item__btn-search"><img src="./app/images/header/icon-magnifying-glass.png" alt="Search" width="15" height="15" class="header-navbar__item__btn-search--img"></button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid--center">
          <div class="main-content__slider">         
            <div class="4/4 grid__cell">
              <div class="main-content__slider-image"><img src="./app/images/main/slider.jpg" alt="slider photo" class="main-content__slider-image--img">
                <p class="main-content__slider-caption__p">Food &amp; Drink</p>
                <h1 class="main-content__slider-caption__headings--h1">Hella narwhal Cosby swea.</h1>
                <p class="main-content__slider-caption__description__p">A few years ago, the Roots were musing over how to make their music-industry career pay.</p><a href="#" class="main-content__slider-caption__read-more--link">Read More</a>
                <div class="main-content__slider-navigation"><a href="#" class="main-content__slider-navigation-one"><img src="./app/images/main/navigation-01.png" alt="slider-navigation-01" class="main-content__slider-navigation-one--img"></a><a href="#" class="main-content__slider-navigation-two"><img src="./app/images/main/navigation-02.png" alt="slider-navigation-02" class="main-content__slider-navigation-two--img"></a><a href="#" class="main-content__slider-navigation-three"><img src="./app/images/main/navigation-03.png" alt="slider-navigation-03" class="main-content__slider-navigation-three--img"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content__article-box-video">
        <div class="4/4 grid__cell">
          <p class="main-content__article-box-video__p">Video </p>
        </div>
        <div class="grid">
          <div class="1/4 grid__cell">    <a href="#" class="main-content__article-box-video-and-play">
              <div class="main-content__article-box-video-and-play-section"><img src="./app/images/video/video-spring.png" alt="The Big Black Book Spring" class="main-content__article-box-video-and-play-section--img"/><img src="./app/images/video/icon-play.png" alt="play video" class="main-content__article-box-video-and-play-section__play-icon--img"/></div>
              <div class="main-content__article-box-video-and-play-text">
                <p class="main-content__article-box-video-and-play-text__title__p">The Big Black Book Spring</p>
                <p class="main-content__article-box-video-and-play-text__time__p">12:00</p>
              </div></a>
          </div>
          <div class="1/4 grid__cell"><a href="#" class="main-content__article-box-video-and-play">
              <div class="main-content__article-box-video-and-play-section"><img src="./app/images/video/video-wheat.png" alt="Behing The Scenes Video" class="main-content__article-box-video-and-play-section--img"/><img src="./app/images/video/icon-play.png" alt="play video" class="main-content__article-box-video-and-play-section__play-icon--img"/></div>
              <div class="main-content__article-box-video-and-play-text">
                <p class="main-content__article-box-video-and-play-text__title__p">Behing The Scenes Video</p>
                <p class="main-content__article-box-video-and-play-text__time__p">12:00</p>
              </div></a>
          </div>
          <div class="1/4 grid__cell"><a href="#" class="main-content__article-box-video-and-play">
              <div class="main-content__article-box-video-and-play-section"><img src="./app/images/video/video-sandwich.png" alt="Michelin-Starred French" class="main-content__article-box-video-and-play-section--img"/><img src="./app/images/video/icon-play.png" alt="play video" class="main-content__article-box-video-and-play-section__play-icon--img"/></div>
              <div class="main-content__article-box-video-and-play-text">
                <p class="main-content__article-box-video-and-play-text__title__p">Michelin-Starred French</p>
                <p class="main-content__article-box-video-and-play-text__time__p">12:00</p>
              </div></a>
          </div>
          <div class="1/4 grid__cell"><a href="#" class="main-content__article-box-video-and-play">
              <div class="main-content__article-box-video-and-play-section"><img src="./app/images/video/video-watch.png" alt="The Smartwatch Wars" class="main-content__article-box-video-and-play-section--img"/><img src="./app/images/video/icon-play.png" alt="play video" class="main-content__article-box-video-and-play-section__play-icon--img"/></div>
              <div class="main-content__article-box-video-and-play-text">
                <p class="main-content__article-box-video-and-play-text__title__p">The Smartwatch Wars</p>
                <p class="main-content__article-box-video-and-play-text__time__p">12:00</p>
              </div></a>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="grid">
        <div class="bottom">
          <div class="grid-footer">
            <div class="bottom-content">
              <div class="1/4 grid__cell">
                <div class="bottom-content-text"><img src="./app/images/footer/grey-logo.png" alt="Silk" class="bottom-content-text__logo--img">
                  <p class="bottom-content-text__p">Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</p>
                </div>
              </div>
              <div class="1/4 grid__cell">
                <ul class="bottom-content__list">
                  <li class="bottom-content__list__item-text"> 
                    <h1 class="bottom-content__list__item-text__h1">Information</h1>
                  </li>
                  <li class="bottom-content__list__item"> <a href="#" class="bottom-content__list__item--link">FAQs</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Size Guide</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Delivery Info</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Return Info</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Discout</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Our Stores</a></li>
                </ul>
              </div>
              <div class="1/4 grid__cell">
                <ul class="bottom-content__list">
                  <li class="bottom-content__list__item-text">
                    <h1 class="bottom-content__list__item-text__h1">Account</h1>
                  </li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Login</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Register</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">My Cart</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Orders</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Wishlist</a></li>
                </ul>
              </div>
              <div class="1/4 grid__cell">
                <ul class="bottom-content__list">
                  <li class="bottom-content__list__item-text">
                    <h1 class="bottom-content__list__item-text__h1">Contact Us</h1>
                  </li>
                  <li class="bottom-content__list__item"> <a href="#" class="bottom-content__list__item--link">48 Park Avenue,</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Aast 21st Street, Apt.304</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">San Francisco</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Email: <span class="bottom-content__list__item--span">support@diiim.com</span></a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Phone: 415-515-6171</a></li>
                  <li class="bottom-content__list__item"><a href="#" class="bottom-content__list__item--link">Fax: 415-515-6171</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>