.grid
  .grid--center
    .slider          
      div(class="4/4 grid__cell")
        .slider-image
          img.slider-image--img(src="./app/images/main/slider.jpg", alt="slider photo")
          p.slider-caption__p Food &amp; Drink
          h1.slider-caption__headings--h1 Hella narwhal Cosby swea.
          p.slider-caption__description__p A few years ago, the Roots were musing over how to make their music-industry career pay.
          a.slider-caption__read-more--link(href="#") Read More
          .slider-navigation
            a.slider-navigation-one(href="#")
              img.slider-navigation-one--img(src="./app/images/main/navigation-01.png", alt="slider-navigation-01")
            a.slider-navigation-two(href="#")
              img.slider-navigation-two--img(src="./app/images/main/navigation-02.png", alt="slider-navigation-02")
            a.slider-navigation-three(href="#")
              img.slider-navigation-three--img(src="./app/images/main/navigation-03.png", alt="slider-navigation-03")