footer {
  background-color: $color-white;
}

.bottom {
  &-content {
    padding: 4% 5% 4% 5%;
    
    &-text {
      padding-top: 15%;

      &__p {
        color: $color-paragraph;
        font-size: 12px;
        padding-top: 7%;
      }
    }

    &__list {
      list-style-type: none;
      font-size: 15px;
      line-height: 30px;

      &__item {
        font-size: small;

        &-text {
          &__h1 {
            font-weight: bold;
            font-size: 17px;
          }
        }

        &--link {
          color: $color-info;
          text-decoration: none;
        }

        &--span {
          color: $color-blue-light;
        }
      }
    }
  }
}