.header-section {
  background-color: $color-white;
  padding-bottom: 23px;
}

.header-content {
  display: flex;
  border-bottom: 1px solid $color-background;
  padding-bottom: 19px;

  &__weather-and-location {
    display: flex;
    padding-left: 185px;
  }

  &__logo {
    text-align: center;
    margin-left: -6px;
  }

  &__location {
    margin-top: -12px;
    padding-left: 12px;

    &__city {
      margin-top: 19px;
      font-size: 13px;
      text-transform: uppercase;
    }

    &__date {
      font-size: small;
      margin-top: -10px;
    }
  }

  &__weather {
    padding-top: 10px;
    margin-left: -15px;
  }

  &__login {
    padding-left: 136px;

    &__btn-login {
      background-color: $color-white;
      border: 1px solid $color-black-light;
      border-radius: 30px;
      padding: 10px;
      width: 115px;
      height: 41px;
      font-size: 14px;
      color: $color-info;
      text-transform: uppercase;

      &__user-icon {
        float: left;
        padding-top: 4px;
        padding-left: 12px;
      }
    }
  }

  &-navbar {
    padding-top: 20px;
    padding-left: 170px;
    text-transform: uppercase;

    &-items {
      font-size: smaller;

      &__btn-search {
        border: none;
        background-color: $color-white
      }
    }

    &--link {
      padding-right: 45px;
      text-decoration: none;
      color: $color-black-light;
      font-weight: bold;
    }


  }
}