.slider {
  padding: 19px;

  &-image {

    &--img{
      position: relative;
      margin-left: 97px;
    }
    
  }

  &-caption {
    &__p {
      position: absolute;
      bottom: 424px;
      left: 633px;
      text-transform: uppercase;
      font-size: x-small;
      color: $color-white;
      border: 1px solid $color-white;
      width: 92px;
      border-radius: 15px;
      padding: 2px;
    }

    &__headings {
      &--h1 {
        position: absolute;
        top: 310px;
        left: 386px;
        font-size: 51px;
        font-family: serif;
        color: $color-white;
      }
    }

    &__description {
      &__p {
        position: absolute;
        top: 398px;
        left: 465px;
        text-align: center;
        width: 418px;
        line-height: 23px;
        color: $color-white;
      }
    }
  }

  &-navigation{
    display: flex;
    position: absolute;
    top: 636px;
    left: 657px;

    &-one{
      &--img{
        padding-right: 15px;
      }
    }

    &-two {
      &--img{
        padding-right: 15px;
      }
    }
  }
}