body{
  font-family: $font-family-master;
}

.article-box {
    margin: 0px 124px 0px 212px;

  &--big {
    display: flex;
    margin-right: 83px;
    background-color: $color-white;

    &__text {
      text-decoration: none;
      color: $color-black-light;
      padding-top: 10px;

      &-section {
        padding-top: 60px;
      }

      &__category {
        &__p {
          font-size: 10px;
          color: $color-orange;
        }
      }

      &__h1 {
        font-size: 28px;
        margin-top: -4px;
        font-family: serif;
      }

      &__p {
        font-size: small;
        padding-bottom: 116px;
        color: $color-paragraph;
      }
    }

    &__chair {

      &-text {
        padding: 56px 0 0 28px;
      }

      &__category {
        text-decoration: none;

        &__p {
          color: $color-blue;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 10px;
        }
      }

      &--photo {
        padding-left: 17px;
      }

      &--h1 {
        font-size: 22px;
      }

      &__summary {
        &__p {
          color: $color-paragraph;
        }
      }

      &__btn-function {
        display: flex;

        &__btn-readmore {
          background-color: $color-white;
          border: 1px solid $color-info;
          border-bottom-left-radius: 25px;
          border-top-left-radius: 25px;
          width: 120px;
          font-size: 11px;
          text-transform: uppercase;
        }

        &__btn-slideshow {
          background-color: $color-white;
          border: 1px solid $color-info;
          border-bottom-right-radius: 25px;
          border-top-right-radius: 25px;
          width: 120px;
          font-size: 11px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }

  &__three-section{
    margin-left: -22px;
  }

  &--small {

    display: flex;

    &__gloves {
      height: 335px;
      width: 230px;
      background-color: $color-blue;
      padding-bottom: 6px;

      &--img {
        padding: 10px 0 0 48px;
      }

      &__read-more {
        padding: 22px 0 0 53px;
      }

      &__btn-read-more {
        background-color: $color-blue-light;
        border-radius: 25px;
        color: $color-white;
        width: 120px;
        height: 35px;
      }      

      &-text {
        &__p {
          text-align: center;
          color: $color-white;
          text-transform: uppercase;
          font-size: smaller;
          padding-top: 10px;
        }

        &--h1 {
          text-align: center;
          color: $color-white;
          text-transform: uppercase;
          font-size: larger;
          padding-top: 15px; 
        }
      }
    }

    &__travel {
      background-color: $color-white;
      margin: 0px 27px 0px -13px;

      &-lake {
        background-image: url("../../images/article/article-lake.png");
        height:185px;
        margin-top: 12px;
      }

      &-house {
        background-image: url("../../images/article/article-house.png");
        height:185px;
      }

      &-alley {
        background-image: url("../../images/article/article-alley.jpg");
        height:185px;
      }

      &__text {
        padding: 4px 0px 0px 12px;
      }

      &__category {
        &__p {
          color: #fff;
          border: 1px solid #fff;
          border-radius: 15px;
          width: 70px;
          text-align: center;
          margin-top: 10px;
          margin-left: -5px;
        }
      }

      &__article {
        text-decoration: none;

        &-title {
          &--h1 {
            font-size: 16px;
            color: $color-black-light;
          } 
        }

        &-summary {
          &__p {
            color: $color-paragraph;
          }
        }
      }
    }

    &__culture { 
      background-color: $color-white;
      font-size: 16px;
      margin: 13px 40px 0px -28px;
      position: relative;

      &__category {
        &__p {
          position: absolute;
          top: 0px;
          left: 12px;
          color: $color-white;
          border: 1px solid $color-white;
          border-radius: 15px;
          width: 70px;
          text-align: center;
        }
      }

      &__title {
        &__p {
          position: absolute;
          top: 160px;
          left: 12px;
          color: $color-white;
          font-weight: bold;
        }
      }

      &__summary {
        &__p {
          position: absolute;
          top: 205px;
          left: 12px;
          color: $color-white;
        }
      }

      &__profile {
        display: flex;
        padding-top: 18px;
        
        &--img{
          width: 33px;
          height: 33px;
          padding: 0px 0 0 17px;
          margin-top: -11px;
        }

        &__name {
          &__p {
            color: $color-black-light;
            font-weight: bold;
          }
        }

        &__posted{
          color: $color-info;    
          margin-top: -20px;
          line-height: 8px;
          padding-left: 4px;
          font-size: 11px;
        }
      }
    }
  }

//news
  &__news {

    background-color: $color-white;
    padding-left: 20px;
    margin: 0px 53px 0px -21px;

    &-section {
      background-color: $color-white;
    }

    &--h1 {
      margin-left: -22px;
      padding-top: 8px;
      font-size: 15px;
    }

    &-headlines {
      padding-bottom: 12px;
      
      &--small {
        &__h1{
          font-size: 9px;
          color: $color-info;
          padding-top: 2px;
        }
      }

      &--big {
        text-decoration: none;
        color: $color-black-light;

        &__h1{
          font-size: 14px;
          color: $color-black-light;
          text-decoration: none;
          margin: 3px 57px 0px 0px;
          line-height: 17px;
          font-family: sans-serif;
        }
      }

      &__footer {
        background-color: $color-black-light;

        &-btn-news {
          &__btnviewall {
            background-color: $color-black-light;
            border: none;
            display: block;
            color: $color-white;
            height: 34px;
            margin: 0 60px 0 47px;
            font-size: 11px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  &-bottom {
    padding-top: 19px;
    margin-right: 27px;
    padding-bottom: 25px;
  }

  &__social {
    display: flex;
    border-top: 1px solid $color-info;
    background-color: $color-white;

    &__button-like {
      border: none;
      background-color: $color-white;
      padding-top: 4px;
    }

    &__button-comment {
      border: none;
      background-color: $color-white;
      padding-top: 4px;
    }

    &__num-like {
      padding-right: 10px;

      &__p {
        font-size: x-small;
        color: $color-paragraph;
      }
    }

    &__num-comment {
      padding-right: 10px;

      &__p {
        font-size: x-small;
        color: $color-paragraph;
      }
    }

    &__icon-time {
      padding-left: 5px;

      &--img {
        padding-top: 9px;
      }

      &__p {
        font-size: x-small;
        color: $color-paragraph;
      }
    }
  }
}

.horizontal-line{
  border-bottom: 1px solid $color-info;
  padding-top: 8px;
  width: 190px;
}