extends ../base/layout.jade

block main
  .main-content
    .main-content-articles
      .grid
        .grid--center
          .main-content__slider
          
            div(class="4/4 grid__cell")
              .main-content__slider-image
                img.main-content__slider-image--img(src="./app/images/main/slider.jpg", alt="slider photo")
                p.main-content__slider-caption__p Food &amp; Drink
                h1.main-content__slider-caption__headings--h1 Hella narwhal Cosby swea.
                p.main-content__slider-caption__description__p A few years ago, the Roots were musing over how to make their music-industry career pay.
                a.main-content__slider-caption__read-more--link(href="#") Read More
                .main-content__slider-navigation
                  a.main-content__slider-navigation-one(href="#")
                    img.main-content__slider-navigation-one--img(src="./app/images/main/navigation-01.png", alt="slider-navigation-01")
                  a.main-content__slider-navigation-two(href="#")
                    img.main-content__slider-navigation-two--img(src="./app/images/main/navigation-02.png", alt="slider-navigation-02")
                  a.main-content__slider-navigation-three(href="#")
                    img.main-content__slider-navigation-three--img(src="./app/images/main/navigation-03.png", alt="slider-navigation-03")


      .grid
        .main-content__article-box
          div(class="3/4 grid__cell")
            .grid
              a.main-content__article-box__details(href="#")
                .main-content__article-box__details__carbox
                  div(class="1/2 grid__cell")
                    .main-content__article-box__details__carbox-text-car
                      p.main-content__article-box__details__carbox-text-car__p Cars &amp; Moto
                      h1.main-content__article-box__details__carbox-text-car--h1 The 2015 Best-Dressed List: How Kate Middleton
                      p.main-content__article-box__details__carbox-text-car__paragraph__p Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.

                      .main-content__article-box__details__social
                        +social-reaction({
                          like:'273',
                          comment:'23',
                          time: '3 hours ago'
                        })

                  div(class="1/2 grid__cell")
                    .main-content__article-box__details__carbox-image-car
                      img.main-content__article-box__details__carbox-image-car--img(src="./app/images/article/article-car.jpg", alt="car-article")
                      
                .main-content__article-box__details__three-sections
                  div(class="1/3 grid__cell")  
                    .main-content__article-box__details-gloves
                      p.main-content__article-box__details-gloves-text__p style
                      h1.main-content__article-box__details-gloves-text--h1 Offbeat Portraits Give Stars
                      img.main-content__article-box__details-gloves--img(src="./app/images/article/article-gloves.png", alt="gloves-article")
                      .main-content__article-box__details-gloves-readmore
                        button.main-content__article-box__details-gloves-readmore__btnreadmore Read More
                  
                  div(class="1/3 grid__cell")
                    .main-content__article-box__details-travel-box
                      .main-content__article-box__details-travel-lake
                        .main-content__article-box__details-travel__text
                          +travel-article-category({
                            name: 'Travel'
                          })     
                      .main-content__article-box__details-travel__article
                        +travel-article-summary({
                          title: 'Best of Minnesota 2015: Revealing what rocks',
                          summary: 'I whipped the Scotch tape from my pocket and said'
                        })

                      .main-content__article-box__details__social
                        +social-reaction({
                          like:'298',
                          comment:'12',
                          time: '5 hours ago'
                        })

                  div(class="1/3 grid__cell")
                    .main-content__article-box__details-culture
                      img.main-content__article-box__details-culture__photo--img(src="./app/images/article/article-lantern.jpg" alt="lantern-article" width="225px")
                      .main-content__article-box__details-culture__profile
                        img.main-content__article-box__details-culture__profile--img(src="./app/images/article/profile-pic.png" alt="profile-pic")
                        .main-content__article-box__details-culture__profile__posted
                          p.header-content__article-box__details-culture__profile__name__p Jason George
                          p.header-content__article-box__details-culture__profile__posted-hour__p 7 hours ago
          div(class="1/4 grid__cell")
            .main-content__article-box__news
              .main-content__article-box__news-section
                .grid
                  div(class="4/4 grid__cell")
                    .main-content__article-box__news--h1 News

                  .grid
                    .main-content__article-box__news-highlight-image
                      div(class="4/4 grid__cell")
                        img.main-content__article-box__news-highlight-image--img(src="./app/images/article/article-news.png", alt="news-article")

                  .grid
                    .main-content__article-box__news-headlines
                      .main-content__article-box__news-content
                        div(class="4/4 grid__cell")
                          +news-content({
                            type:'small',
                            time:'2 hours ago'
                          })
                        div(class="4/4 grid__cell")
                          +news-content({
                            type:'big',
                            headline: 'Exclusive Hell on Wheels Season 5 Episode 5 Preview Scene'
                          }) 
                      .main-content__article-box__news-content
                        div(class="4/4 grid__cell")
                          +news-content({
                            type:'small',
                            time:'7 hours ago'
                          }) 
                        div(class="4/4 grid__cell")
                          +news-content({
                            type:'big',
                            headline: 'The 2015 Post-San Diego Comic Con Guide'
                          })  
                      .main-content__article-box__news-content
                        div(class="4/4 grid__cell")
                          +news-content({
                            type:'small',
                            time:'9 hours ago'
                          })  
                        div(class="4/4 grid__cell")
                          +news-content({
                            type:'big',
                            headline: 'Dear Apple, We Need To Talk About Your Ridiculous iPhone Charge'
                          }) 
                      .main-content__article-box__news-content
                        div(class="4/4 grid__cell")
                          +news-content({
                            type:'small',
                            time:'1 day ago'
                          }) 
                        div(class="4/4 grid__cell")
                          +news-content({
                            type:'big',
                            headline: 'If You Ask Siri What 0 Divided By 0 Is It Gets Brutal'
                          }) 
                      .main-content__article-box__news-content
                        div(class="4/4 grid__cell")
                          +news-content({
                            type:'small',
                            time:'1 day ago'
                          })
                        div(class="4/4 grid__cell")
                          +news-content({
                            type:'big',
                            headline: 'Dr. Dre Compton Review: A Grand Finale Game Changer'
                          }) 

              .main-content__article-box__news-headlines__footer
                div(class="4/4 grid__cell")
                  .main-content__article-box__news-headlines__footer-btn-news
                    button.main-content__article-box__news-headlines__footer-btn-news__btnviewall 
                      p.main-content__article-box__news-headlines__footer-btn-news__p All News
        
        .main-content__article-box-bottom
          .grid
            .main-content__article-box-bottom__container
              .main-content__article-box-bottom__container__chair
                .div(class="2/4 grid__cell")
                  a.main-content__article-box-bottom__container__chair-section(href="#")
                    .main-content__article-box-bottom__container__chair-section--text
                      p.main-content__article-box-bottom__container__chair-section__category__p Style
                      h1.main-content__article-box-bottom__container__chair-section--h1 Eames Molded Fiberglass Side Chair
                      p.main-content__article-box-bottom__container__chair-section__summary__p The Eames Molded Fiberglass Side Chair with Wire Base is an iconic piece of American design history.
                      .main-content__article-box-bottom__container__chair-section__btn-chair-function
                        button.main-content__article-box-bottom__container__chair-section__btn-chair-function__btn-read__p Read More
                        button.main-content__article-box-bottom__container__chair-section__btn-chair-function__btn-slideshow__p Start slideshow
                    .main-content__article-box-bottom__container__chair-section--photo
                      img.main-content__article-box-bottom__container__chair-section--img(src="./app/images/article/article-chair.jpg", alt="car-article" width="174px" height="296px")
                      
                .div(class="1/4 grid__cell")
                  a.main-content__article-box__details-travel-box(href="#")
                    .main-content__article-box__details-travel-house
                      +travel-article-category({
                        name: 'Travel'
                      })    
                    .main-content__article-box__details-travel__article
                      +travel-article-summary({
                        title: 'Best of Minnesota 2015: Revealing what rocks',
                        summary: 'I whipped the Scotch tape from my pocket and said'
                      })

                    .main-content__article-box__details__social
                      +social-reaction({
                        like:'298',
                        comment:'12',
                        time: '5 hours ago'
                      })
                  
                .div(class="1/4 grid__cell")
                  a.main-content__article-box__details-travel-box-alley(href="#")
                    .main-content__article-box__details-travel-alley
                      .main-content__article-box__details-travel__text
                        +travel-article-category({
                          name: 'Travel'
                        })     
                    .main-content__article-box__details-travel__article
                      +travel-article-summary({
                        title: "Reading Hemingway's Personal Letter",
                        summary: "There isn't much that hasn't been said about Ernest Miller"
                      })

                    .main-content__article-box__details__social
                      +social-reaction({
                        like:'298',
                        comment:'12',
                        time: '5 hours ago'
                      })
      
    .main-content__article-box-video
      div(class="4/4 grid__cell")
          p.main-content__article-box-video__p Video 
      .grid
        div(class="1/4 grid__cell")     
            +video-content({
              photo:'./app/images/video/video-spring.png',
              title: 'The Big Black Book Spring',
              duration: '12:00'
            }) 
        div(class="1/4 grid__cell")
          +video-content({
              photo:'./app/images/video/video-wheat.png',
              title: 'Behing The Scenes Video',
              duration: '12:00'
            }) 
        div(class="1/4 grid__cell")
          +video-content({
              photo:'./app/images/video/video-sandwich.png',
              title: 'Michelin-Starred French',
              duration: '12:00'
            }) 
        div(class="1/4 grid__cell")
          +video-content({
              photo:'./app/images/video/video-watch.png',
              title: 'The Smartwatch Wars',
              duration: '12:00'
            }) 
    