mixin travel-article-category(category)

  -name = category.name || '';

  .article-box--small__travel__text
    .article-box--small__travel__category
      p.article-box--small__travel__category__p=name

mixin travel-article-summary(text)

  -title = text.title || '';
  -summary = text.summary || '';

  .article-box--small__travel__text
    h1.article-box--small__travel__article-title--h1=title
    p.article-box--small__travel__article-summary__p=summary

   