mixin news-content(info)

  -part = info.part;
  -title = info.title || '';
  -category = info.category || '';
  -paragraph = info.paragraph || 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et beatae aliquam iure quibusdam rerum iusto, itaque assumenda vitae eveniet, voluptatibus culpa. Asperiores, porro! Omnis, pariatur eum repellendus quos assumenda provident.';
  -photo = info.photo || '';

  