mixin news-content(options)

  -type = options.type || '';
  -headline = options.headline || '';
  -time = options.time || '';

  if type=='small'
    .article-box__news-headlines--small
      h1.article-box__news-headlines--small__h1=time
  else
    a.article-box__news-headlines--big(href="#")
      h1.article-box__news-headlines--big__h1=headline
    .horizontal-line
    
