mixin social-reaction(social)

  -like = social.like || '';
  -comment = social.comment || '';
  -time = social.time || '';

  .article-box__social__button-like
    button.article-box__social__button-like
      img.article-box__social__button-like--img(src="./app/images/article/icon-like.png" alt="like-button")
  .article-box__social__num-like
      p.article-box__social__num-like__p=like

  .article-box__social__button-comment
    button.article-box__social__button-comment
      img.article-box__social__button-comment--img(src="./app/images/article/icon-comment.png" alt="comment-button")
  .article-box__social__num-comment
      p.article-box__social__num-comment__p=comment

  .article-box__social__icon-time
    img.article-box__social__icon-time--img(src="./app/images/article/icon-time.png" alt="hours spent")
  .article-box__social__icon-time
    p.article-box__social__icon-time__p=time