mixin video-content(video)

  -photo = video.photo || '';
  -title = video.title || '';
  -duration = video.duration || '';

    
    .main-content__article-box-video-and-play
      .main-content__article-box-video-and-play-section
        img.main-content__article-box-video-and-play-section--img(src=photo)
        img.main-content__article-box-video-and-play-section__play-icon--img(src="./app/images/video/icon-play.png")
      .main-content__article-box-video-and-play-text
        p.main-content__article-box-video-and-play-text__title__p=title
        p.main-content__article-box-video-and-play-text__time__p=duration