mixin video-content(video)

  -photo = video.photo || '';
  -title = video.title || '';
  -duration = video.duration || '';

    
    a.article-box__video-and-play(href="#")
      .article-box__video-and-play__section
        img.article-box__video-and-play__section--img(src=photo alt=title)
        img.article-box__video-and-play__section__play-icon--img(src="./app/images/video/icon-play.png" alt="play video")
      .article-box__video-and-play__text
        p.article-box__video-and-play__text__title__p=title
        p.article-box__video-and-play__text__time__p=duration