$color-black-light: #333;
$color-white: #fff;

$color-grey: #a3a3a4;
$color-grey-lighter: #efefef;
$color-grey-light: #b9b9ba;


$color-orange: #e0a433;

$color-blue: #3078c0;
$color-blue-light: #4c8ac7;


$color-paragraph: $color-grey-light;

$color-background: $color-grey-lighter;

$color-info: $color-grey;



$font-family-master: 'Proxima Nova', Arial, sans-serif;