$color-black: #333;
$color-white: #fff;
$color-grey: #a3a3a4;
$color-orange: #e0a433;
$color-background-grey: #efefef;
$color-paragraph-grey: #b9b9ba;
$color-blue: #3078c0;
$color-light-blue: #4c8ac7;