$color-black: #333;
$color-white: #fff;

$color-grey: #a3a3a4;
$color-background-grey: #efefef;
$color-grey-light: #b9b9ba;


$color-orange: #e0a433;

$color-blue: #3078c0;
$color-blue-light: #4c8ac7;


$color-paragraph: $color-grey-light;



$font-family-master: 'Proxima Nova', Arial, sans-serif;